body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    text-align: center;
}

h1 {
    color: #007bff; /* Blue color for heading */
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#predictionResult {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa; /* Light gray background */
    color: #333;
}